
.gauche{
    padding: 434px;
    margin-bottom: 20px;
    background-color: rgb(147, 255, 137);
    padding-bottom: 1378px;
    float: left;
}
.milieu{
    padding: 435px;
    margin-bottom: 20px;
    background-color: rgb(49, 105, 44);
    padding-bottom: 1378px;
    float: right;
}
.footer{
    padding: 40px;
    background-color: rgb(255, 255, 164);
    text-align: center;
}
