body{
    border: solid;
}

header{
    background-color: rgba(0, 87, 201, 0.781);
    padding: 50px;
    padding-bottom: 50px;
}

nav{
    background-color: rgb(44, 104, 182);
    padding-top: 30px;
}

div{
    background-color: rgba(131, 45, 182, 0.781);
    padding: 5px;
    padding-bottom: 5px;
}

section{
    margin-top: 25px ;
    padding: 250px;
    margin: 25px;
    background-color: rgb(141, 141, 32);
    margin-bottom: 25px;
}

footer{
    background-color: rgba(2, 44, 99, 0.781);
    padding: 50px;
    padding-bottom: 50px;
}